In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv('terrorismData.csv')

In [3]:
df=data.copy()

In [4]:
df.head()

,Year,Month,Day,Country,State,Region,City,Latitude,Longitude,AttackType,Killed,Wounded,Target,Summary,Group,Target_type,Weapon_type
0,1970,7,2,Dominican Republic,NaN,Central America & Caribbean,Santo Domingo,18.456792,-69.951164,Assassination,1.0,0.0,Julio Guzman,NaN,MANO-D,Private Citizens & Property,Unknown
1,1970,0,0,Mexico,Federal,North America,Mexico city,19.371887,-99.086624,Hostage Taking (Kidnapping),0.0,0.0,"Nadine Chaval, daughter",NaN,23rd of September Communist League,Government (Diplomatic),Unknown
2,1970,1,0,Philippines,Tarlac,Southeast Asia,Unknown,15.478598,120.599741,Assassination,1.0,0.0,Employee,NaN,Unknown,Journalists & Media,Unknown
3,1970,1,0,Greece,Attica,Western Europe,Athens,37.997490,23.762728,Bombing/Explosion,NaN,NaN,U.S. Embassy,NaN,Unknown,Government (Diplomatic),Explosives
4,1970,1,0,Japan,Fukouka,East Asia,Fukouka,33.580412,130.396361,Facility/Infrastructure Attack,NaN,NaN,U.S. Consulate,NaN,Unknown,Government (Diplomatic),Incendiary

In [5]:
# df=df[df.State=='Jammu and Kashmir']
# print(df.City.describe())
# df=df[df.City==df.City.describe().top]
# count=df.shape[0]
# df=df[df.Group!='Unknown']
# city=df.City.describe().top
# group=df.Group.describe().top
# print('CITY    ', 'COUNT  ', 'GROUP')
# print(city, count, group)

In [6]:
from collections import Counter
city=np.array(df['City'])
state=np.array(df['State'])
group=np.array(df['Group'])
# group=group[group!='Unknown']

np_city=city[state=='Jammu and Kashmir']
z=Counter(np_city)
mx=max(z.values())

most_attacked=''
for i,j in z.items():
    if j==mx:most_attacked=i;break
        
grp=Counter(group[(city==most_attacked) & (group!='Unknown')])
m=max(grp.values())

grp=list(grp.keys())[list(grp.values()).index(m)]

print(most_attacked,mx,grp)

Srinagar 657 Muslim Separatists

In [7]:
df=data.copy()
c=0
df=df[(df.Country=="India") & (df.Group!="Unknown")]
first=df[(df.Year==2014) & (df.Day>=26) & (df.Month==5)]
c+=len(first)
z1=Counter(first['Group'])

second=df[(df.Year==2014) & (df.Month>5)]
c+=len(second)
z2=Counter(second['Group'])

third=df[(df.Year>2014)]
c+=len(third)
z3=Counter(third['Group'])

print(c)
z={**z1,**z2,**z3}
print(list(z.keys())[list(z.values()).index(max(z.values()))])

2057
Maoists

In [24]:
df=data.copy()
jmu=df[df.State=='Jammu and Kashmir']
years=len(set(df.Year))
tot=(jmu['Killed']+jmu['Wounded']).sum()
red_states=df[(df.State=="Jharkhand") | (df.State=='Odisha') | (df.State=="Andhra Pradesh") | (df.State=="Chhattisgarh")]

tot_red=(red_states['Killed']+red_states['Wounded']).sum()

print('Jammu and kashmir : ',tot//years)
print('Red States : ',tot_red//years)

Jammu and kashmir :  261.0
Red States :  115.0