In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv('terrorismData.csv')
df.head()

,Year,Month,Day,Country,State,Region,City,Latitude,Longitude,AttackType,Killed,Wounded,Target,Summary,Group,Target_type,Weapon_type
0,1970,7,2,Dominican Republic,NaN,Central America & Caribbean,Santo Domingo,18.456792,-69.951164,Assassination,1.0,0.0,Julio Guzman,NaN,MANO-D,Private Citizens & Property,Unknown
1,1970,0,0,Mexico,Federal,North America,Mexico city,19.371887,-99.086624,Hostage Taking (Kidnapping),0.0,0.0,"Nadine Chaval, daughter",NaN,23rd of September Communist League,Government (Diplomatic),Unknown
2,1970,1,0,Philippines,Tarlac,Southeast Asia,Unknown,15.478598,120.599741,Assassination,1.0,0.0,Employee,NaN,Unknown,Journalists & Media,Unknown
3,1970,1,0,Greece,Attica,Western Europe,Athens,37.997490,23.762728,Bombing/Explosion,NaN,NaN,U.S. Embassy,NaN,Unknown,Government (Diplomatic),Explosives
4,1970,1,0,Japan,Fukouka,East Asia,Fukouka,33.580412,130.396361,Facility/Infrastructure Attack,NaN,NaN,U.S. Consulate,NaN,Unknown,Government (Diplomatic),Incendiary

In [3]:
np_arr=df.iloc[:,2]
np_arr

0          2
1          0
2          0
3          0
4          0
          ..
181686    31
181687    31
181688    31
181689    31
181690    31
Name: Day, Length: 181691, dtype: int64

In [4]:
a=np.array([1,2,3,10])
x=np.where(a>2)
a[x]

array([ 3, 10])

In [5]:
# 1
len(np_arr[(np_arr>=10) & (np_arr<=20)])

66330

In [6]:
#2

year=np.array(df.iloc[:,0])
month=np.array(df.iloc[:,1])
day=np.array(df.iloc[:,2])

day=day[(year==2010) & (month==1) & (day>=1) & (day<=31)]
len(day)

271

In [7]:
# 3

df.head(3)

,Year,Month,Day,Country,State,Region,City,Latitude,Longitude,AttackType,Killed,Wounded,Target,Summary,Group,Target_type,Weapon_type
0,1970,7,2,Dominican Republic,NaN,Central America & Caribbean,Santo Domingo,18.456792,-69.951164,Assassination,1.0,0.0,Julio Guzman,NaN,MANO-D,Private Citizens & Property,Unknown
1,1970,0,0,Mexico,Federal,North America,Mexico city,19.371887,-99.086624,Hostage Taking (Kidnapping),0.0,0.0,"Nadine Chaval, daughter",NaN,23rd of September Communist League,Government (Diplomatic),Unknown
2,1970,1,0,Philippines,Tarlac,Southeast Asia,Unknown,15.478598,120.599741,Assassination,1.0,0.0,Employee,NaN,Unknown,Journalists & Media,Unknown

In [8]:
dead=df[(df.State=='Jammu and Kashmir') & (df.Year==1999) & (df.Month>=5) & (df.Month<=7) & (df.City=='Kargil District')]

In [9]:
dead

,Year,Month,Day,Country,State,Region,City,Latitude,Longitude,AttackType,Killed,Wounded,Target,Summary,Group,Target_type,Weapon_type
68879,1999,5,12,India,Jammu and Kashmir,South Asia,Kargil District,34.553852,76.134894,Armed Assault,22.0,NaN,Indian Army troops stationed in Kargil District,05/12/1999: Suspected Islamic separatist fight...,Separatists,Military,Firearms

In [10]:
killed=int(dead['Killed'])
print(f"{killed} are killed ")

22 are killed

In [11]:
#  conversion

df['Wounded'].fillna(0,inplace=True)
df['Killed'].fillna(0,inplace=True)
df.head()

,Year,Month,Day,Country,State,Region,City,Latitude,Longitude,AttackType,Killed,Wounded,Target,Summary,Group,Target_type,Weapon_type
0,1970,7,2,Dominican Republic,NaN,Central America & Caribbean,Santo Domingo,18.456792,-69.951164,Assassination,1.0,0.0,Julio Guzman,NaN,MANO-D,Private Citizens & Property,Unknown
1,1970,0,0,Mexico,Federal,North America,Mexico city,19.371887,-99.086624,Hostage Taking (Kidnapping),0.0,0.0,"Nadine Chaval, daughter",NaN,23rd of September Communist League,Government (Diplomatic),Unknown
2,1970,1,0,Philippines,Tarlac,Southeast Asia,Unknown,15.478598,120.599741,Assassination,1.0,0.0,Employee,NaN,Unknown,Journalists & Media,Unknown
3,1970,1,0,Greece,Attica,Western Europe,Athens,37.997490,23.762728,Bombing/Explosion,0.0,0.0,U.S. Embassy,NaN,Unknown,Government (Diplomatic),Explosives
4,1970,1,0,Japan,Fukouka,East Asia,Fukouka,33.580412,130.396361,Facility/Infrastructure Attack,0.0,0.0,U.S. Consulate,NaN,Unknown,Government (Diplomatic),Incendiary

In [12]:
# 4

a=np.array(df.iloc[:,4])

killed=np.array(df['Killed'],dtype=int)
wounded=np.array(df['Wounded'],dtype=int)

final=killed+wounded
final[(a=='Jharkhand') | (a=='Odisha') | (a=='Andhra Pradesh') | (a=='Chhattisgarh')].sum()

5628

In [13]:
#5

states=np.array(df['State'])
country=np.array(df['Country'])
dead=df['Killed']+df['Wounded']

d={}
for i in set(states):
    d[i]=dead[(states==i) & (country=='India')].sum()

d=dict(sorted(d.items(),key=lambda x:x[1],reverse=True))
count=0
for i,j in d.items():
    print(i,j);count+=1
    if count==5:break

Jammu and Kashmir 12648.0
Assam 6065.0
Punjab 5025.0
Maharashtra 3046.0
Chhattisgarh 2518.0

In [14]:
# 5

a=np.array(df['Day'])
values,counts=np.unique(a,return_counts=True)
print(values,counts)
mx=max(counts)
index=np.where(counts==mx)
print(values[index],mx)

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24 25 26 27 28 29 30 31] [ 891 6344 5954 6011 6153 5844 5781 5997 5859 6057 6064 5936 6012 6043
 6028 6500 6112 5852 5880 5973 5930 5827 5799 5782 5752 5875 5823 5937
 6027 5507 5046 3095]
[15] 6500

In [44]:
# 6

country=np.array(df['Country'])
killed=np.array(df['Killed'])

killed[country=='United States'].sum()

3771.0